html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;
  background-image: url("euro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
